@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "MTN Brighter Sans Regular";
    src: url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.eot");
    src: url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4baee4a2550da10078fd0d6dd9440bc1.svg#MTN Brighter Sans Regular")format("svg");
}
:root {
  font-family: 'MTN Brighter Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #12141D;
}

body {
  display: flex;
  place-items: center;

}
